html,
body,
#app,
#content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  color: #312f2f;
}

a {
  color: inherit;
  text-decoration: none;
}

#hero {
  background-image: url('/L.jpg');
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#headshot {
  border-radius: 100%;
  height: 15rem;
  width: 15rem;
}

#hero-header {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: flex-end;
  margin-top: 12rem;
  margin-right: 10rem;
}

#hello {
  white-space: pre;
  color: #312f2f;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#name {
  font-size: 3.5rem;
  text-align: right;
  color: #689e6d;
  display: flex;
  flex-direction: row;
}

#hello {
  animation: reveal 3s infinite;
  animation-iteration-count: 1;
}

#job-title {
  font-size: 2.25rem;
  text-align: right;
  animation: reveal 3s infinite;
  animation-iteration-count: 1;
}

#projects-button {
  padding: 0.75rem;
  border: solid 0.15rem #312f2f;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-right: 0.2rem;
  display: flex;
  flex-direction: row;
  animation: reveal 3s infinite;
  animation-iteration-count: 1;
}

#projects-button:hover {
  cursor: pointer;
  /* background-color: #312f2f; */
  background-color: #aae089;
  border: solid 0.15rem #aae089;
  color: white;
  transition: 0.4s;
}

#arrow {
  margin-left: 0.5rem;
  margin-top: 0.15rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  font-size: 1.5rem;
  padding: 3rem;
  margin-left: 2rem;
  animation: reveal 3s infinite;
  animation-iteration-count: 1;
}

#logo {
  border: solid 0.15rem #312f2f;
  padding: 1rem;
  margin-right: 2rem;
}

.nav-item {
  margin: auto 1.5rem;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 1s;
}

#projects-title {
  font-size: 3.5rem;
  margin-top: 8rem;
  margin-bottom: 6rem;
}

#projects {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#e7f0ef, #eff3f4);
  border-top: solid 0.15rem #312f2f;
}

.project-card {
  background-color: transparent;
  width: 20rem;
  height: 25rem;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.project-card-front {
  border: solid 0.15rem #312f2f;
}

.project-card-back {
  transform: rotateY(180deg);
  border: solid 0.15rem #312f2f;
}

.project-card-header {
  padding: 0.5rem;
  height: 25%;
}

.project-card-image {
  background-image: url('/cuvee.jpg');
  background-size: 100%;
  width: 100%;
  height: 75%;
}
